@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos</h1>
    <p>Aprenda uma <a href="https://learn.microsoft.com/pt-br/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-8.0&WT.mc_id=dotnet-35129-website&tabs=visual-studio">introdução ao ASP.NET MVC Core</a>.</p>
</div>
